In [1]:
import pandas as pd
import numpy as np

In [54]:
tit_data=pd.read_csv("train.csv")

In [55]:
tit_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
tit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [57]:
tit_data.drop(['Embarked'],axis=1,inplace=True)

In [58]:
tit_data.drop(['Cabin'],axis=1,inplace=True)

In [59]:
tit_data.drop(['Ticket'],axis=1,inplace=True)

In [60]:
tit_data.drop(['Name'],axis=1,inplace=True)

In [61]:
tit_data['Sex'] = tit_data['Sex'].map({'male': 1, 'female': 0})

In [62]:
tit_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

In [63]:
tit_data=tit_data[~np.isnan(tit_data['Age'])]

In [64]:
St_titdata=tit_data[['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare']]

In [65]:
St_titdata=(St_titdata-St_titdata.mean())/St_titdata.std()

In [66]:
St_titdata.head()

   PassengerId    Pclass       Sex       Age     SibSp     Parch      Fare
0    -1.727321  0.910594  0.758520 -0.530005  0.524203 -0.505541 -0.518614
1    -1.723462 -1.475329 -1.316511  0.571430  0.524203 -0.505541  0.691412
2    -1.719603  0.910594 -1.316511 -0.254646 -0.551317 -0.505541 -0.505859
3    -1.715743 -1.475329 -1.316511  0.364911  0.524203 -0.505541  0.347805
4    -1.711884  0.910594  0.758520  0.364911 -0.551317 -0.505541 -0.503497

In [67]:
Sur_titdata=tit_data['Survived']

In [68]:
Sur_titdata.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [69]:
import statsmodels.api as sm

In [70]:
logm1 = sm.GLM(Sur_titdata,(sm.add_constant(St_titdata)), family = sm.families.Binomial())
logm1.fit().summary()

D:\AnacondaPython\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  714
Model:                            GLM   Df Residuals:                      706
Model Family:                Binomial   Df Model:                            7
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -317.43
Date:                Tue, 17 Sep 2019   Deviance:                       634.86
Time:                        15:31:58   Pearson chi2:                     747.
No. Iterations:                     5   Covariance Type:             nonrobust
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -0.5103      0.101     -5.055      0.000      -0.708      -0.312
PassengerId     0.0963      0.099      0.974      0.330      -0.097       0.290
Pclass         -1.0383      0.137     -7.575      0.000      -1.307      -0.770
Sex            -1.2754      0.106    -12.004      0.000      -1.484      -1.067
Age            -0.6391      0.119     -5.377      0.000      -0.872      -0.406
SibSp          -0.3405      0.119     -2.861      0.004      -0.574      -0.107
Parch          -0.0602      0.106     -0.571      0.568      -0.267       0.147
Fare            0.1170      0.134      0.876      0.381      -0.145       0.379
===============================================================================
"""

In [75]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
from sklearn.feature_selection import RFE
rfe = RFE(logreg, 4)             # running RFE with 13 variables as output
rfe = rfe.fit(St_titdata,Sur_titdata)
print(rfe.support_)           # Printing the boolean results
print(rfe.ranking_)

[False  True  True  True  True False False]
[3 1 1 1 1 4 2]

D:\AnacondaPython\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\AnacondaPython\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\AnacondaPython\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\AnacondaPython\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [76]:
St_titdata.columns[rfe.support_]

Index(['Pclass', 'Sex', 'Age', 'SibSp'], dtype='object')

In [77]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [78]:
logsk = LogisticRegression()
logsk.fit(St_titdata, Sur_titdata)

D:\AnacondaPython\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [95]:
tit_testdata=pd.read_csv("test.csv")

In [96]:
tit_testdata.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [97]:
tit_testdata.drop(['Embarked'],axis=1,inplace=True)
tit_testdata.drop(['Ticket'],axis=1,inplace=True)
tit_testdata.drop(['Cabin'],axis=1,inplace=True)
tit_testdata.drop(['Name'],axis=1,inplace=True)

In [98]:
tit_testdata['Sex'] = tit_testdata['Sex'].map({'male': 1, 'female': 0})

In [99]:
tit_testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
dtypes: float64(2), int64(5)
memory usage: 22.9 KB

In [100]:
tit_testdata=tit_testdata[~np.isnan(tit_testdata['Age'])]

In [108]:
tit_testdata=tit_testdata[~np.isnan(tit_testdata['Fare'])]

In [109]:
tit_testdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 415
Data columns (total 7 columns):
PassengerId    331 non-null int64
Pclass         331 non-null int64
Sex            331 non-null int64
Age            331 non-null float64
SibSp          331 non-null int64
Parch          331 non-null int64
Fare           331 non-null float64
dtypes: float64(2), int64(5)
memory usage: 20.7 KB

In [110]:
St_tittestdata=tit_testdata[['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare']]

In [111]:
St_tittestdata=(St_tittestdata-St_tittestdata.mean())/St_tittestdata.std()

In [112]:
St_tittestdata.head()

   PassengerId    Pclass       Sex       Age     SibSp     Parch      Fare
0    -1.694185  1.013891  0.787825  0.306194 -0.552436 -0.491376 -0.541461
1    -1.686049  1.013891 -1.265483  1.192431  0.590416 -0.491376 -0.555004
2    -1.677913 -0.167792  0.787825  2.255916 -0.552436 -0.491376 -0.511111
3    -1.669777  1.013891  0.787825 -0.225549 -0.552436 -0.491376 -0.527852
4    -1.661641  1.013891 -1.265483 -0.580044  0.590416  0.740786 -0.468647

In [113]:
St_tittestdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 415
Data columns (total 7 columns):
PassengerId    331 non-null float64
Pclass         331 non-null float64
Sex            331 non-null float64
Age            331 non-null float64
SibSp          331 non-null float64
Parch          331 non-null float64
Fare           331 non-null float64
dtypes: float64(7)
memory usage: 20.7 KB

In [115]:
y_predSurv = logsk.predict_proba(St_tittestdata)

In [116]:
y_predSurv

array([[0.93833706, 0.06166294],
       [0.74477914, 0.25522086],
       [0.93882698, 0.06117302],
       [0.91596447, 0.08403553],
       [0.50804843, 0.49195157],
       [0.85991758, 0.14008242],
       [0.48513145, 0.51486855],
       [0.82586284, 0.17413716],
       [0.35716101, 0.64283899],
       [0.94505596, 0.05494404],
       [0.68836001, 0.31163999],
       [0.07339288, 0.92660712],
       [0.95735422, 0.04264578],
       [0.19164803, 0.80835197],
       [0.23361138, 0.76638862],
       [0.82169416, 0.17830584],
       [0.89255713, 0.10744287],
       [0.54409214, 0.45590786],
       [0.6435199 , 0.3564801 ],
       [0.81625903, 0.18374097],
       [0.84131682, 0.15868318],
       [0.42202135, 0.57797865],
       [0.16898215, 0.83101785],
       [0.97699938, 0.02300062],
       [0.05447751, 0.94552249],
       [0.89801505, 0.10198495],
       [0.63423244, 0.36576756],
       [0.92599246, 0.07400754],
       [0.85193797, 0.14806203],
       [0.63425872, 0.36574128],
       [0.5950399 , 0.4049601 ],
       [0.88009804, 0.11990196],
       [0.38199258, 0.61800742],
       [0.90654396, 0.09345604],
       [0.95032423, 0.04967577],
       [0.95146616, 0.04853384],
       [0.21518654, 0.78481346],
       [0.17758107, 0.82241893],
       [0.9063584 , 0.0936416 ],
       [0.67128552, 0.32871448],
       [0.21367754, 0.78632246],
       [0.57463263, 0.42536737],
       [0.52602316, 0.47397684],
       [0.75837246, 0.24162754],
       [0.28262554, 0.71737446],
       [0.14030123, 0.85969877],
       [0.95871734, 0.04128266],
       [0.93709254, 0.06290746],
       [0.90561849, 0.09438151],
       [0.06036407, 0.93963593],
       [0.8706594 , 0.1293406 ],
       [0.79559375, 0.20440625],
       [0.87539371, 0.12460629],
       [0.38810883, 0.61189117],
       [0.43106602, 0.56893398],
       [0.34666665, 0.65333335],
       [0.68132959, 0.31867041],
       [0.52099137, 0.47900863],
       [0.26345837, 0.73654163],
       [0.40786492, 0.59213508],
       [0.88836568, 0.11163432],
       [0.46135   , 0.53865   ],
       [0.49298315, 0.50701685],
       [0.06314672, 0.93685328],
       [0.44328596, 0.55671404],
       [0.33492817, 0.66507183],
       [0.77885088, 0.22114912],
       [0.40619108, 0.59380892],
       [0.86344309, 0.13655691],
       [0.8376967 , 0.1623033 ],
       [0.70466763, 0.29533237],
       [0.43695762, 0.56304238],
       [0.34293241, 0.65706759],
       [0.61078969, 0.38921031],
       [0.47237773, 0.52762227],
       [0.09855167, 0.90144833],
       [0.45150301, 0.54849699],
       [0.90305979, 0.09694021],
       [0.43444597, 0.56555403],
       [0.91726243, 0.08273757],
       [0.36114073, 0.63885927],
       [0.92954715, 0.07045285],
       [0.15845529, 0.84154471],
       [0.81168071, 0.18831929],
       [0.90632185, 0.09367815],
       [0.42533007, 0.57466993],
       [0.91099798, 0.08900202],
       [0.88567832, 0.11432168],
       [0.67471408, 0.32528592],
       [0.84731448, 0.15268552],
       [0.08977453, 0.91022547],
       [0.34372247, 0.65627753],
       [0.24232725, 0.75767275],
       [0.90662198, 0.09337802],
       [0.27151201, 0.72848799],
       [0.54245096, 0.45754904],
       [0.26020938, 0.73979062],
       [0.10432137, 0.89567863],
       [0.11475381, 0.88524619],
       [0.91238433, 0.08761567],
       [0.33925175, 0.66074825],
       [0.88854203, 0.11145797],
       [0.85169311, 0.14830689],
       [0.89669408, 0.10330592],
       [0.92497246, 0.07502754],
       [0.73157103, 0.26842897],
       [0.95224196, 0.04775804],
       [0.89630205, 0.10369795],
       [0.90612377, 0.09387623],
       [0.73840384, 0.26159616],
       [0.38467169, 0.61532831],
       [0.97327536, 0.02672464],
       [0.71399586, 0.28600414],
       [0.06211793, 0.93788207],
       [0.81268526, 0.18731474],
       [0.74923204, 0.25076796],
       [0.62551604, 0.37448396],
       [0.9726222 , 0.0273778 ],
       [0.88687744, 0.11312256],
       [0.83604627, 0.16395373],
       [0.04980033, 0.95019967],
       [0.55680442, 0.44319558],
       [0.96336333, 0.03663667],
       [0.8949191 , 0.1050809 ],
       [0.04543734, 0.95456266],
       [0.38130611, 0.61869389],
       [0.62298559, 0.37701441],
       [0.44540991, 0.55459009],
       [0.86125196, 0.13874804],
       [0.17329017, 0.82670983],
       [0.8424066 , 0.1575934 ],
       [0.51603064, 0.48396936],
       [0.67064011, 0.32935989],
       [0.93802168, 0.06197832],
       [0.3683113 , 0.6316887 ],
       [0.90569833, 0.09430167],
       [0.92056598, 0.07943402],
       [0.97143071, 0.02856929],
       [0.12331096, 0.87668904],
       [0.13189108, 0.86810892],
       [0.79155495, 0.20844505],
       [0.27539856, 0.72460144],
       [0.25058463, 0.74941537],
       [0.76501682, 0.23498318],
       [0.64583918, 0.35416082],
       [0.055876  , 0.944124  ],
       [0.0597759 , 0.9402241 ],
       [0.83341125, 0.16658875],
       [0.14895948, 0.85104052],
       [0.92855532, 0.07144468],
       [0.83383064, 0.16616936],
       [0.84554635, 0.15445365],
       [0.88091944, 0.11908056],
       [0.92651636, 0.07348364],
       [0.57672349, 0.42327651],
       [0.92457374, 0.07542626],
       [0.23456147, 0.76543853],
       [0.32421746, 0.67578254],
       [0.70347486, 0.29652514],
       [0.76828209, 0.23171791],
       [0.65861024, 0.34138976],
       [0.1235247 , 0.8764753 ],
       [0.72055002, 0.27944998],
       [0.50148367, 0.49851633],
       [0.71113902, 0.28886098],
       [0.07486996, 0.92513004],
       [0.89507347, 0.10492653],
       [0.9183998 , 0.0816002 ],
       [0.61328466, 0.38671534],
       [0.56103535, 0.43896465],
       [0.85695771, 0.14304229],
       [0.60488306, 0.39511694],
       [0.78345263, 0.21654737],
       [0.1548078 , 0.8451922 ],
       [0.25845036, 0.74154964],
       [0.87634399, 0.12365601],
       [0.14449534, 0.85550466],
       [0.87623301, 0.12376699],
       [0.16154151, 0.83845849],
       [0.88522157, 0.11477843],
       [0.942442  , 0.057558  ],
       [0.8031928 , 0.1968072 ],
       [0.58241577, 0.41758423],
       [0.04491577, 0.95508423],
       [0.91141073, 0.08858927],
       [0.64538099, 0.35461901],
       [0.87033322, 0.12966678],
       [0.84397638, 0.15602362],
       [0.87030381, 0.12969619],
       [0.17940206, 0.82059794],
       [0.15964679, 0.84035321],
       [0.17196321, 0.82803679],
       [0.33731991, 0.66268009],
       [0.69017875, 0.30982125],
       [0.67211434, 0.32788566],
       [0.13963687, 0.86036313],
       [0.88773813, 0.11226187],
       [0.24153458, 0.75846542],
       [0.09645775, 0.90354225],
       [0.86891905, 0.13108095],
       [0.48104165, 0.51895835],
       [0.887242  , 0.112758  ],
       [0.9194861 , 0.0805139 ],
       [0.90362924, 0.09637076],
       [0.1253027 , 0.8746973 ],
       [0.87319772, 0.12680228],
       [0.95113305, 0.04886695],
       [0.87300911, 0.12699089],
       [0.20092653, 0.79907347],
       [0.25156642, 0.74843358],
       [0.75328132, 0.24671868],
       [0.85121865, 0.14878135],
       [0.62073297, 0.37926703],
       [0.06208634, 0.93791366],
       [0.17354526, 0.82645474],
       [0.73566983, 0.26433017],
       [0.86952818, 0.13047182],
       [0.81254396, 0.18745604],
       [0.68081642, 0.31918358],
       [0.35883277, 0.64116723],
       [0.81176481, 0.18823519],
       [0.31858962, 0.68141038],
       [0.25372516, 0.74627484],
       [0.92890092, 0.07109908],
       [0.46909949, 0.53090051],
       [0.43101216, 0.56898784],
       [0.77214442, 0.22785558],
       [0.92813668, 0.07186332],
       [0.89295946, 0.10704054],
       [0.09134724, 0.90865276],
       [0.45718036, 0.54281964],
       [0.90466848, 0.09533152],
       [0.91540341, 0.08459659],
       [0.84745579, 0.15254421],
       [0.88346846, 0.11653154],
       [0.3159219 , 0.6840781 ],
       [0.53265878, 0.46734122],
       [0.74572979, 0.25427021],
       [0.78127651, 0.21872349],
       [0.67507712, 0.32492288],
       [0.8527777 , 0.1472223 ],
       [0.87375108, 0.12624892],
       [0.50284951, 0.49715049],
       [0.1360562 , 0.8639438 ],
       [0.29540891, 0.70459109],
       [0.76381461, 0.23618539],
       [0.6448259 , 0.3551741 ],
       [0.8954492 , 0.1045508 ],
       [0.80846122, 0.19153878],
       [0.89112799, 0.10887201],
       [0.88682355, 0.11317645],
       [0.70994828, 0.29005172],
       [0.49486986, 0.50513014],
       [0.06217859, 0.93782141],
       [0.87740319, 0.12259681],
       [0.17845692, 0.82154308],
       [0.60842135, 0.39157865],
       [0.79801965, 0.20198035],
       [0.66149237, 0.33850763],
       [0.34848436, 0.65151564],
       [0.55740753, 0.44259247],
       [0.41090513, 0.58909487],
       [0.8942813 , 0.1057187 ],
       [0.45995572, 0.54004428],
       [0.75916174, 0.24083826],
       [0.94312088, 0.05687912],
       [0.69022945, 0.30977055],
       [0.63057671, 0.36942329],
       [0.91295616, 0.08704384],
       [0.08073687, 0.91926313],
       [0.28167622, 0.71832378],
       [0.70612527, 0.29387473],
       [0.50755345, 0.49244655],
       [0.68700739, 0.31299261],
       [0.18211823, 0.81788177],
       [0.1095445 , 0.8904555 ],
       [0.69718256, 0.30281744],
       [0.59801894, 0.40198106],
       [0.90895663, 0.09104337],
       [0.24218902, 0.75781098],
       [0.66890034, 0.33109966],
       [0.31483539, 0.68516461],
       [0.50760315, 0.49239685],
       [0.99015666, 0.00984334],
       [0.19776899, 0.80223101],
       [0.18063087, 0.81936913],
       [0.89199966, 0.10800034],
       [0.06510509, 0.93489491],
       [0.31982459, 0.68017541],
       [0.10897869, 0.89102131],
       [0.72889849, 0.27110151],
       [0.73486586, 0.26513414],
       [0.04997177, 0.95002823],
       [0.66798327, 0.33201673],
       [0.83849424, 0.16150576],
       [0.20134766, 0.79865234],
       [0.06959139, 0.93040861],
       [0.51442481, 0.48557519],
       [0.65385262, 0.34614738],
       [0.70191445, 0.29808555],
       [0.93959305, 0.06040695],
       [0.88646173, 0.11353827],
       [0.38397036, 0.61602964],
       [0.19741569, 0.80258431],
       [0.87691581, 0.12308419],
       [0.90094109, 0.09905891],
       [0.86178316, 0.13821684],
       [0.91295778, 0.08704222],
       [0.34344246, 0.65655754],
       [0.14009662, 0.85990338],
       [0.83152727, 0.16847273],
       [0.85428547, 0.14571453],
       [0.96628546, 0.03371454],
       [0.04718707, 0.95281293],
       [0.87619764, 0.12380236],
       [0.16057585, 0.83942415],
       [0.86603894, 0.13396106],
       [0.9056218 , 0.0943782 ],
       [0.04422871, 0.95577129],
       [0.84857967, 0.15142033],
       [0.04154937, 0.95845063],
       [0.3042137 , 0.6957863 ],
       [0.67530849, 0.32469151],
       [0.63776468, 0.36223532],
       [0.7468083 , 0.2531917 ],
       [0.67631216, 0.32368784],
       [0.24636314, 0.75363686],
       [0.0959118 , 0.9040882 ],
       [0.3868539 , 0.6131461 ],
       [0.07080403, 0.92919597],
       [0.92954013, 0.07045987]])

In [117]:
y_pred_df = pd.DataFrame(y_predSurv)
y_pred_df

            0         1
0    0.938337  0.061663
1    0.744779  0.255221
2    0.938827  0.061173
3    0.915964  0.084036
4    0.508048  0.491952
5    0.859918  0.140082
6    0.485131  0.514869
7    0.825863  0.174137
8    0.357161  0.642839
9    0.945056  0.054944
10   0.688360  0.311640
11   0.073393  0.926607
12   0.957354  0.042646
13   0.191648  0.808352
14   0.233611  0.766389
15   0.821694  0.178306
16   0.892557  0.107443
17   0.544092  0.455908
18   0.643520  0.356480
19   0.816259  0.183741
20   0.841317  0.158683
21   0.422021  0.577979
22   0.168982  0.831018
23   0.976999  0.023001
24   0.054478  0.945522
25   0.898015  0.101985
26   0.634232  0.365768
27   0.925992  0.074008
28   0.851938  0.148062
29   0.634259  0.365741
..        ...       ...
301  0.886462  0.113538
302  0.383970  0.616030
303  0.197416  0.802584
304  0.876916  0.123084
305  0.900941  0.099059
306  0.861783  0.138217
307  0.912958  0.087042
308  0.343442  0.656558
309  0.140097  0.859903
310  0.831527  0.168473
311  0.854285  0.145715
312  0.966285  0.033715
313  0.047187  0.952813
314  0.876198  0.123802
315  0.160576  0.839424
316  0.866039  0.133961
317  0.905622  0.094378
318  0.044229  0.955771
319  0.848580  0.151420
320  0.041549  0.958451
321  0.304214  0.695786
322  0.675308  0.324692
323  0.637765  0.362235
324  0.746808  0.253192
325  0.676312  0.323688
326  0.246363  0.753637
327  0.095912  0.904088
328  0.386854  0.613146
329  0.070804  0.929196
330  0.929540  0.070460

[331 rows x 2 columns]

In [119]:
Surv_1=y_pred_df.iloc[:,[1]]

In [124]:
tit_testdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 415
Data columns (total 7 columns):
PassengerId    331 non-null int64
Pclass         331 non-null int64
Sex            331 non-null int64
Age            331 non-null float64
SibSp          331 non-null int64
Parch          331 non-null int64
Fare           331 non-null float64
dtypes: float64(2), int64(5)
memory usage: 30.7 KB

In [128]:
tit_testdata

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare
0            892       3    1  34.5      0      0    7.8292
1            893       3    0  47.0      1      0    7.0000
2            894       2    1  62.0      0      0    9.6875
3            895       3    1  27.0      0      0    8.6625
4            896       3    0  22.0      1      1   12.2875
5            897       3    1  14.0      0      0    9.2250
6            898       3    0  30.0      0      0    7.6292
7            899       2    1  26.0      1      1   29.0000
8            900       3    0  18.0      0      0    7.2292
9            901       3    1  21.0      2      0   24.1500
11           903       1    1  46.0      0      0   26.0000
12           904       1    0  23.0      1      0   82.2667
13           905       2    1  63.0      1      0   26.0000
14           906       1    0  47.0      1      0   61.1750
15           907       2    0  24.0      1      0   27.7208
16           908       2    1  35.0      0      0   12.3500
17           909       3    1  21.0      0      0    7.2250
18           910       3    0  27.0      1      0    7.9250
19           911       3    0  45.0      0      0    7.2250
20           912       1    1  55.0      1      0   59.4000
21           913       3    1   9.0      0      1    3.1708
23           915       1    1  21.0      0      1   61.3792
24           916       1    0  48.0      1      3  262.3750
25           917       3    1  50.0      1      0   14.5000
26           918       1    0  22.0      0      1   61.9792
27           919       3    1  22.5      0      0    7.2250
28           920       1    1  41.0      0      0   30.5000
30           922       2    1  50.0      1      0   26.0000
31           923       2    1  24.0      2      0   31.5000
32           924       3    0  33.0      1      2   20.5750
..           ...     ...  ...   ...    ...    ...       ...
381         1273       3    1  26.0      0      0    7.8792
383         1275       3    0  19.0      1      0   16.1000
385         1277       2    0  24.0      1      2   65.0000
386         1278       3    1  24.0      0      0    7.7750
387         1279       2    1  57.0      0      0   13.0000
388         1280       3    1  21.0      0      0    7.7500
389         1281       3    1   6.0      3      1   21.0750
390         1282       1    1  23.0      0      0   93.5000
391         1283       1    0  51.0      0      1   39.4000
392         1284       3    1  13.0      0      2   20.2500
393         1285       2    1  47.0      0      0   10.5000
394         1286       3    1  29.0      3      1   22.0250
395         1287       1    0  18.0      1      0   60.0000
396         1288       3    1  24.0      0      0    7.2500
397         1289       1    0  48.0      1      1   79.2000
398         1290       3    1  22.0      0      0    7.7750
399         1291       3    1  31.0      0      0    7.7333
400         1292       1    0  30.0      0      0  164.8667
401         1293       2    1  38.0      1      0   21.0000
402         1294       1    0  22.0      0      1   59.4000
403         1295       1    1  17.0      0      0   47.1000
404         1296       1    1  43.0      1      0   27.7208
405         1297       2    1  20.0      0      0   13.8625
406         1298       2    1  23.0      1      0   10.5000
407         1299       1    1  50.0      1      1  211.5000
409         1301       3    0   3.0      1      1   13.7750
411         1303       1    0  37.0      1      0   90.0000
412         1304       3    0  28.0      0      0    7.7750
414         1306       1    0  39.0      0      0  108.9000
415         1307       3    1  38.5      0      0    7.2500

[331 rows x 7 columns]

In [125]:
Surv_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 1 columns):
1    331 non-null float64
dtypes: float64(1)
memory usage: 2.7 KB

In [132]:
tit_testdata.reset_index(drop=True, inplace=True)

In [133]:
df_final=pd.concat([tit_testdata,Surv_1],axis=1)

In [140]:
df_final.rename(columns={ 1 : 'Survival_Prob'},inplace=True)

In [141]:
df_final

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Survival_Prob
0            892       3    1  34.5      0      0    7.8292       0.061663
1            893       3    0  47.0      1      0    7.0000       0.255221
2            894       2    1  62.0      0      0    9.6875       0.061173
3            895       3    1  27.0      0      0    8.6625       0.084036
4            896       3    0  22.0      1      1   12.2875       0.491952
5            897       3    1  14.0      0      0    9.2250       0.140082
6            898       3    0  30.0      0      0    7.6292       0.514869
7            899       2    1  26.0      1      1   29.0000       0.174137
8            900       3    0  18.0      0      0    7.2292       0.642839
9            901       3    1  21.0      2      0   24.1500       0.054944
10           903       1    1  46.0      0      0   26.0000       0.311640
11           904       1    0  23.0      1      0   82.2667       0.926607
12           905       2    1  63.0      1      0   26.0000       0.042646
13           906       1    0  47.0      1      0   61.1750       0.808352
14           907       2    0  24.0      1      0   27.7208       0.766389
15           908       2    1  35.0      0      0   12.3500       0.178306
16           909       3    1  21.0      0      0    7.2250       0.107443
17           910       3    0  27.0      1      0    7.9250       0.455908
18           911       3    0  45.0      0      0    7.2250       0.356480
19           912       1    1  55.0      1      0   59.4000       0.183741
20           913       3    1   9.0      0      1    3.1708       0.158683
21           915       1    1  21.0      0      1   61.3792       0.577979
22           916       1    0  48.0      1      3  262.3750       0.831018
23           917       3    1  50.0      1      0   14.5000       0.023001
24           918       1    0  22.0      0      1   61.9792       0.945522
25           919       3    1  22.5      0      0    7.2250       0.101985
26           920       1    1  41.0      0      0   30.5000       0.365768
27           922       2    1  50.0      1      0   26.0000       0.074008
28           923       2    1  24.0      2      0   31.5000       0.148062
29           924       3    0  33.0      1      2   20.5750       0.365741
..           ...     ...  ...   ...    ...    ...       ...            ...
301         1273       3    1  26.0      0      0    7.8792       0.113538
302         1275       3    0  19.0      1      0   16.1000       0.616030
303         1277       2    0  24.0      1      2   65.0000       0.802584
304         1278       3    1  24.0      0      0    7.7750       0.123084
305         1279       2    1  57.0      0      0   13.0000       0.099059
306         1280       3    1  21.0      0      0    7.7500       0.138217
307         1281       3    1   6.0      3      1   21.0750       0.087042
308         1282       1    1  23.0      0      0   93.5000       0.656558
309         1283       1    0  51.0      0      1   39.4000       0.859903
310         1284       3    1  13.0      0      2   20.2500       0.168473
311         1285       2    1  47.0      0      0   10.5000       0.145715
312         1286       3    1  29.0      3      1   22.0250       0.033715
313         1287       1    0  18.0      1      0   60.0000       0.952813
314         1288       3    1  24.0      0      0    7.2500       0.123802
315         1289       1    0  48.0      1      1   79.2000       0.839424
316         1290       3    1  22.0      0      0    7.7750       0.133961
317         1291       3    1  31.0      0      0    7.7333       0.094378
318         1292       1    0  30.0      0      0  164.8667       0.955771
319         1293       2    1  38.0      1      0   21.0000       0.151420
320         1294       1    0  22.0      0      1   59.4000       0.958451
321         1295       1    1  17.0      0      0   47.1000       0.695786
322         1296       1    1  43.0      1      0   27.7208       0.324692
323         1297       2    1  20.0      0      0   13.8625       0.362235
324         1298       2    1  23.0      1      0   10.5000       0.253192
325         1299       1    1  50.0      1      1  211.5000       0.323688
326         1301       3    0   3.0      1      1   13.7750       0.753637
327         1303       1    0  37.0      1      0   90.0000       0.904088
328         1304       3    0  28.0      0      0    7.7750       0.613146
329         1306       1    0  39.0      0      0  108.9000       0.929196
330         1307       3    1  38.5      0      0    7.2500       0.070460

[331 rows x 8 columns]

In [142]:
df_final['Survival_Prob'] = df_final.Survival_Prob.map( lambda x: 1 if x > 0.5 else 0)

In [143]:
df_final

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Survival_Prob
0            892       3    1  34.5      0      0    7.8292              0
1            893       3    0  47.0      1      0    7.0000              0
2            894       2    1  62.0      0      0    9.6875              0
3            895       3    1  27.0      0      0    8.6625              0
4            896       3    0  22.0      1      1   12.2875              0
5            897       3    1  14.0      0      0    9.2250              0
6            898       3    0  30.0      0      0    7.6292              1
7            899       2    1  26.0      1      1   29.0000              0
8            900       3    0  18.0      0      0    7.2292              1
9            901       3    1  21.0      2      0   24.1500              0
10           903       1    1  46.0      0      0   26.0000              0
11           904       1    0  23.0      1      0   82.2667              1
12           905       2    1  63.0      1      0   26.0000              0
13           906       1    0  47.0      1      0   61.1750              1
14           907       2    0  24.0      1      0   27.7208              1
15           908       2    1  35.0      0      0   12.3500              0
16           909       3    1  21.0      0      0    7.2250              0
17           910       3    0  27.0      1      0    7.9250              0
18           911       3    0  45.0      0      0    7.2250              0
19           912       1    1  55.0      1      0   59.4000              0
20           913       3    1   9.0      0      1    3.1708              0
21           915       1    1  21.0      0      1   61.3792              1
22           916       1    0  48.0      1      3  262.3750              1
23           917       3    1  50.0      1      0   14.5000              0
24           918       1    0  22.0      0      1   61.9792              1
25           919       3    1  22.5      0      0    7.2250              0
26           920       1    1  41.0      0      0   30.5000              0
27           922       2    1  50.0      1      0   26.0000              0
28           923       2    1  24.0      2      0   31.5000              0
29           924       3    0  33.0      1      2   20.5750              0
..           ...     ...  ...   ...    ...    ...       ...            ...
301         1273       3    1  26.0      0      0    7.8792              0
302         1275       3    0  19.0      1      0   16.1000              1
303         1277       2    0  24.0      1      2   65.0000              1
304         1278       3    1  24.0      0      0    7.7750              0
305         1279       2    1  57.0      0      0   13.0000              0
306         1280       3    1  21.0      0      0    7.7500              0
307         1281       3    1   6.0      3      1   21.0750              0
308         1282       1    1  23.0      0      0   93.5000              1
309         1283       1    0  51.0      0      1   39.4000              1
310         1284       3    1  13.0      0      2   20.2500              0
311         1285       2    1  47.0      0      0   10.5000              0
312         1286       3    1  29.0      3      1   22.0250              0
313         1287       1    0  18.0      1      0   60.0000              1
314         1288       3    1  24.0      0      0    7.2500              0
315         1289       1    0  48.0      1      1   79.2000              1
316         1290       3    1  22.0      0      0    7.7750              0
317         1291       3    1  31.0      0      0    7.7333              0
318         1292       1    0  30.0      0      0  164.8667              1
319         1293       2    1  38.0      1      0   21.0000              0
320         1294       1    0  22.0      0      1   59.4000              1
321         1295       1    1  17.0      0      0   47.1000              1
322         1296       1    1  43.0      1      0   27.7208              0
323         1297       2    1  20.0      0      0   13.8625              0
324         1298       2    1  23.0      1      0   10.5000              0
325         1299       1    1  50.0      1      1  211.5000              0
326         1301       3    0   3.0      1      1   13.7750              1
327         1303       1    0  37.0      1      0   90.0000              1
328         1304       3    0  28.0      0      0    7.7750              1
329         1306       1    0  39.0      0      0  108.9000              1
330         1307       3    1  38.5      0      0    7.2500              0

[331 rows x 8 columns]